# Python bytecode and cache
backend/__pycache__/
backend/*.pyc

# Virtual environments
backend/venv/
backend/env/
backend/data/
backend/myenv

# Node.js dependencies
backend/node_modules/
frontend/node_modules/
.env

# Logs
*.log

# Frontend build output
frontend/dist/

# Vite temporary directory
frontend/.vit/

# ESLint cache
frontend/.eslintcache

# Rollup/Visualizer output
frontend/stats.html

# VS Code settings
.vscode/

# macOS system files (optional)
.DS_Store